main {
    height: min(60vh, 60vw);
    width: min(60vh, 60vw);
}

#container {
    display: grid;
    height: 100%;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}